#woocommerce_paga-checkout_description {
    width:50rem !important;
    
   
} 

 .regular-input {
    width: 24rem !important;
}

tr {
    line-height: 50px !important;
}

.paga-check-out-title {
    font-weight: 900 !important;
    font-size: 2rem !important;
}

 